.Btn {
    background-color: transparent;
    color: var(--primary);
    border: 2px solid var(--primary);
    padding: 1rem 1.5rem;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    user-select: none;
    position: relative;
    overflow: hidden;
}

.Btn:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: var(--primary);
    opacity: .07;
    z-index: -1;
    transform: translate3d(0, -100%, 1px);
    transition: transform 200ms ease;
}

.Btn:hover:not(:disabled) {
    cursor: pointer;
    box-shadow: 0 0 20px -10px var(--primary);
}

.Btn:hover:after:not(:disabled) {
    transform: translate3d(0, 0, 1px);
}

.Btn:disabled {
    opacity: .5;
}